{% include partials/header.html %}

  <h1 class="display-5 mb-4 text-break">
    {% if page.title %}
      {{ page.title }}
    {% else %}
      {{ site.data.lang[site.conference.lang].speaker.overview | default: "Speakers" }}
    {% endif %}
  </h1>

  {{ content }}

<div class="speakerlist">
    {% assign cur_letter = false %}
    {% assign speakers = site.speakers | sort_natural: 'last_name' %}
    {% for speaker in speakers %}

      {% assign last_letter = speaker.last_name | slice: 0 | capitalize %}
      {% if cur_letter != last_letter %}
        {% if cur_letter %}
            </ul>
          </div>
        {% endif %}

        {% assign cur_letter = last_letter %}
        <div class="speakergroup">
          <h3>{{ cur_letter }}</h3>
          <ul class="list-unstyled">
      {% endif %}

      <li class="mb-4">
        {% if speaker.hide %}
          <span class="h5 font-weight-bold">{{ speaker.first_name }} {{ speaker.last_name }}</span>
          {% if speaker.affiliation %} ({{ speaker.affiliation }}) {% endif %}
        {% else %}
          <span class="h5 font-weight-bold">{{ speaker.first_name }} {{ speaker.last_name }}</span>
          {% if speaker.affiliation %} ({{ speaker.affiliation }}) {% endif %}

        {% if speaker.img %}
          <p></p>
          <img src="{{ speaker.img }}" class="align-middle" style="width: 150px; height: 150px; object-fit: cover; object-position: center;">
        {% endif %}
        {% endif %}
      </li>

    {% endfor %}

      </ul>
    </div>
  </div>
  
  {% include partials/footer.html %}
