{% include partials/header.html %}

  <h1 class="display-5 mb-4 text-break">
    {% if page.title %}
      {{ page.title }}
    {% else %}
      {{ site.data.lang[site.conference.lang].speaker.overview | default: "Speakers" }}
    {% endif %}
  </h1>

  {{ content }}

  <div class="speakerlist">
    {% assign speakers = site.speakers | sort_natural: 'last_name' %}
    
    <ul class="list-unstyled">

    {% for speaker in speakers %}
      
      <li class="font-weight-light">
        {% if speaker.hide %}
          {{ speaker.first_name }} {{ speaker.last_name }}
        {% else %}
          {{ speaker.first_name }} {{ speaker.last_name }}

          {% if speaker.affiliation %}
            ({{ speaker.affiliation }})
          {% endif %}

          {% if speaker.img %}
            <p></p>
            <img src="{{ speaker.img }}" class="align-middle">
          {% endif %}
        {% endif %}
      </li>
    {% endfor %}

    </ul>
  </div>
{% include partials/footer.html %}
