{% include partials/header.html %}

  <h1 class="display-5 mb-4 text-break">
    {% if page.title %}
      {{ page.title }}
    {% else %}
      {{ site.data.lang[site.conference.lang].speaker.overview | default: "Speakers" }}
    {% endif %}
  </h1>

  {{ content }}

  <div class="speakerlist">
    {% assign speakers = site.speakers | sort_natural: 'last_name' %}
    
    <div class="row">
      {% for speaker in speakers %}
        
        <div class="col-md-4 mb-5">
          
          <div style="display: block; width: 100%; text-align: center; margin-bottom: 5px;">
            <span class="font-weight-bold h5">
              {{ speaker.first_name }} {{ speaker.last_name }}
            </span>
          </div>

          {% if speaker.affiliation %}
            <div style="display: block; width: 100%; text-align: center; margin-bottom: 10px;">
              <span class="text-muted small">
                ({{ speaker.affiliation }})
              </span>
            </div>
          {% endif %}

          {% if speaker.img and speaker.hide != true %}
            <div style="display: block; width: 100%; text-align: center;">
              <img src="{{ speaker.img }}" class="img-fluid rounded" style="display: block; margin: 0 auto; max-height: 200px; width: auto;">
            </div>
          {% endif %}
          
        </div>

      {% endfor %}
    </div>
  </div>
{% include partials/footer.html %}
